page-estadisticas {
  .scroll-content {
    background: #f0f0f0;
    h2 {
      overflow:      hidden;
      white-space:   nowrap;
      text-overflow: ellipsis;
    }
    .no-margin-bottom {
      margin-bottom: 0;
    }
    [no-margin-top] .label{
      margin-top: 2px;
    } 
    .padding-left-25 {
      padding-left: 25px
    }
  }

  ion-card-header {
      font-weight: bold;
  }
}
