<ion-header>
  <ion-navbar color="primary">
    <ion-title>Estadisticas</ion-title>
  </ion-navbar>

  <ion-toolbar  color="primary">
    <ion-segment [(ngModel)]="estadisticas" color="light">
      <ion-segment-button value="carnets">
        Carnets
      </ion-segment-button>
      <ion-segment-button value="vehiculos">
        Vehiculos
      </ion-segment-button>
      <ion-segment-button value="graficas">
        Graficas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  
  <!-- CARNETS-->
  <div [ngClass]="{ 'ocultar': estadisticas != 'carnets' }">    
    <ion-searchbar [(ngModel)]="carnetsQuery"></ion-searchbar>
    <ion-card *ngFor="let c of carnets | async" [ngClass]="{ 'ocultar': filterCarnets(c) }">
      <ion-item>
        <ion-thumbnail item-left class="no-margin-bottom">
          <div style="background-image: url(assets/images/carnet.png);"class="my-thumbnail"></div>          
          <!--<img src="assets/images/carnet.png">-->
        </ion-thumbnail>
        <h2 capitalize>{{ c.nombre }}</h2>
        <h4 capitalize>{{ c.cedula }}</h4>
        <p capitalize>{{ c.carrera }}</p>
      </ion-item>
      <ion-item no-margin-top class="padding-left-25">
        <h4 ion-text *ngIf="c.entrada" color="primary">Entrada</h4>
        <h4 ion-text *ngIf="!c.entrada" color="danger">Salida</h4>
        <p>{{ c.fecha }}</p>
      </ion-item>
    </ion-card>
  </div>
  <!-- CARNETS-->


  <!--VEHICULOS -->
  <div [ngClass]="{ 'ocultar': estadisticas != 'vehiculos' }">    
    <ion-searchbar [(ngModel)]="placasQuery"></ion-searchbar>    
    <ion-card *ngFor="let p of placas | async" [ngClass]="{ 'ocultar': filterPlacas(p) }">
      <ion-item>
        <ion-thumbnail item-left class="no-margin-bottom">
          <div style.background-image="url({{ p.carro.image }})" class="my-thumbnail"></div>
        </ion-thumbnail>
        <h2 capitalize>{{ p.placa }}</h2>
        <h4 capitalize>{{ p.carro.marca }} - {{ p.carro.modelo }}</h4>
        <p capitalize>{{ p.carro.tipo }} - {{ p.carro.color }}</p>
      </ion-item>
      <!--<ion-item no-margin-top class="padding-left-25">-->
      <ion-item>
        <h4 capitalize>
          <span *ngIf="p.autorizado" ion-text  color="secondary">Autorizado</span>
          <span *ngIf="!p.autorizado" ion-text color="danger">No autorizado</span>
           - 
          <span *ngIf="p.entrada" ion-text  color="secondary">Entrada</span>
          <span *ngIf="!p.entrada" ion-text color="danger">Salida</span>
        </h4>
        <p capitalize>{{p.fecha}}</p>
      </ion-item>
    </ion-card>
  </div>
  <!--VEHICULOS -->


  <!-- GRAFICAS -->
  <div [ngClass]="{ 'ocultar': estadisticas != 'graficas' }">    
    <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas ></canvas>
      </ion-card-content>
    </ion-card>
  </div>  
  <!-- GRAFICAS -->

</ion-content>
