
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Carnets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 text-center>Escanea tu codigo QR o carnet</h2>
  <ion-item>
    <ion-label>Entrada</ion-label>
    <ion-toggle [(ngModel)]="entrada"></ion-toggle>
  </ion-item>


  <div text-center margin class="video-container videoWrapper">
    <video  *ngIf="!isCordova"  #video  autoplay="true" style="display:none;"></video>
    <canvas *ngIf="!isCordova"  #canvas style="width:640px; height:480px;"></canvas>
    <img src="assets/images/camera.png" alt="">
  </div>


  <ion-fab bottom center (click)="scanCode()">
    <button ion-fab>
      <ion-icon name="qr-scanner"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
