// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.display-none {
  display: none;
}

[hidden] {
  display: none !important;
}

.video-container{
  // width:         640px;
  // height:        480px;
  position:      relative;
  max-width:     calc(100% - 32px);
  margin-left:   auto !important;
  margin-right:  auto !important;
  img {
    top:        50%;
    left:       50%;
    z-index:    -1;
    opacity:    .5;
    position:   absolute;
    transform:  translate(-50%,-50%);
    max-height: 75%;
  }
  canvas {
    // box-shadow:    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
  }
}

.my-thumbnail{
  height:              80px;
  border-radius: 4px;
  background-size:     cover;
  background-position: center;
}

h2[capitalize], h4[capitalize], p[capitalize] {
  text-transform: capitalize;
}

.ocultar {
  display: none;
}

.mostrar-block {
  display: block;
}