
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center>Security Guard</h1>
  <p text-center>
    <img src="assets/images/shield.png" style="max-width: 75%;">
  </p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil vel numquam dolorem at tempora, accusantium inventore qui modi esse impedit ea alias tempore hic repellat autem iure, earum beatae sequi?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo placeat vitae eos officia culpa, alias eum molestiae velit, illum repellendus quod esse vel quos commodi aliquam minus enim expedita rerum!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat explicabo at, recusandae, eveniet dicta nulla atque consequuntur, beatae neque corporis praesentium ab quibusdam officiis veritatis autem. Voluptatum eaque temporibus impedit.</p>

</ion-content>
